
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/* -----------------media query for mobile--------------------------------- */
@media only screen and (max-width: 600px) {

  .header
  {
    z-index: 10;
    position: static;
  }

  
.img {
    width: 80%;
    display: inline-flex;
    align-items: center;

    justify-content: flex-start;
  }
  .img img
  {
    height: 15px;

    padding: 2%!important;
  }
  .hamburger{
    
    display:inline-flex!important;
    width: 20%;
    align-items: center;
    justify-content: center;
  }


  .mob_navbar
  {
    display: flex;
    font-size: 10px!important;
    justify-content: center;
    align-items: center;
  
    flex-direction: column;
  }
  .mob_navbar a{
    padding:2% 1%!important;
  }
 .btn{
   padding: 2% 2% !important;
   width: 30%!important;
 } 
  h1{
    font-size: 25px!important;
  }
  h2{
    font-size: 20px!important;
  }
  h3{
    font-size: 18px!important;
  }
  *,p,h4{
    font-size: 15px!important;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .f2{
    margin: 5% 0% 10% 0%!important;
  }
}

/* ------------------------header--------------------------------------- */
.img {
  padding-left: 0% 5%;
}

.img img {
  /* width: 80%; */
  height: 60px;
  padding-left: 3%;
  float: right;
}

.navbar {
  overflow: hidden;
  display: flex;
  padding-left: 5%;
  padding-top: 2%;
}
.navbar a {

  display: block;
  text-decoration: none;
  color: rgb(53, 51, 51);
  padding: 0% 2%;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 10;
  left: 0px;
  background-color: white;
  padding: 0% 0%;
}

.hamburger
{
display: none;
}

/* ---------------------Section 1 Headings-------------------------------- */
.contact_us_sec1 {
  text-align: center;
  padding: 1% 9% 0% 9%;
  background-color: #f7f7f7;
  margin: 0%;
}

.contact_us_sec1 h1 {
  color: #00572d;
  font-size: 36px;
  font-weight: 500;
}
h5 {
  font-weight: 500;
  font-size: 14px;
}

/* ----------------------Contact us boxes Address,Email,phone---------------------------------------- */
.contact_us_sec2{
  text-align: center;
  padding:0% 6%;
  background-color: #f7f7f7;
}
.box {
  box-shadow: 2px 2px 5px grey;
  background: url(https://lapinozpizza.in/assets/wla_new/lapinoz/img/shape.svg)
    no-repeat top;
  position: relative;
  overflow: hidden;
  background-color: white;
  padding: 2%;
 margin: 4%;
 border-radius: 5px;
}
.box i {

  margin-top: 15%;
  color: rgb(248, 246, 246);
}

.box p {
  font-size: 14px;
  color: grey;

}
.info
{
    margin-top: 20%;
}
.contact_us_sec2 .icon
{
    height: 90px;
}

/* --------------------Contact Us Form--------------------------------------- */
.sec3 {
  padding:2% 7%;
  background-color: #f7f7f7;
  text-align: center;

}
.textbx {
  padding: 3%;
  font-size: 14px;
  color: rgb(48, 46, 46);
  border: 1px solid #ddd;
}
.divv {
  height: 80px;
}

input {
  width: 95%;
  height: 70%;
}
.txtarea input
{
    width: 96%;
}
.txtarea{
  height: 200px;

}
.btn {
  border: 1pxe4 solid black;
  border-radius: 25px;
  padding: 1% 0%;
  background-color: #00572d;    
  width: 10%;
  font-size: 15px;
  color: rgb(240, 233, 233);
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 2%;
}
.btn:hover {
  color: #00572d;
  border: 2px solid #00572d;
  background-color: white;
  cursor: pointer;
}

/* ---------------------Footer---------------------------------------- */
.footer {
  background-color: #00572d;
  height: 50%;
  padding: 3% 9%;
  color: white;
}
.f1 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.f2 img {
  border-radius: 4px;
}
.f3 {
  font-size: 14px;
}
.f3 a{
  text-decoration: none;
  color: white;
}
.f3 i {
  margin: 2.5% !important;
}
.last_line
{
 color: black;
 font-size: 15px;
 text-align: center;
}
.last_line a
{
 text-decoration: none;
 color: white;
 font-size: 16px;
 font-weight: 500;
 margin-right: 1%;
}

