
* {
  box-sizing: border-box;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* ----------------------Media Query For Mobile------------------------------- */
@media only screen and (max-width: 600px) {

.header
{
  z-index: 10;
  position: static;
}
*{
  font-size: 13px!important;
}
h1{
  font-size: 25px!important;
}
h2{
  font-size: 20px!important;
}
h3{
  font-size: 18px!important;
}
h4{
  font-size: 15px!important;
}

.img {
  width: 80%;
  display: inline-flex;
  align-items: center;

  justify-content: flex-start;
}
.img img
{
  height: 15px;

  padding: 2%!important;
}
.hamburger{
  
  display:inline-flex!important;
  width: 20%;
  align-items: center;
  justify-content: center;
}


.mob_navbar
{
  display: flex;
  font-size: 10px!important;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.mob_navbar a{
  padding:2% 1%!important;
}
.letter{
  margin: 2%!important;
  width: 100%!important;
}
.mrgn
{
  margin-left:10% ;
}

button{
  padding: 1% 4%!important;
}
.order input
{width:80% !important;
  margin-top: 3%!important;
padding:3% 5% !important;}
.f2{
  margin: 5% 0% 10% 0%!important;
}
}


/* ---------------------Header-------------------------------- */
.img {
padding-left: 0% 5%;
}

.img img {
/* width: 80%; */
height: 60px;
padding-left: 3%;
float: right;
}

.navbar {
overflow: hidden;
display: flex;
padding-left: 5%;
padding-top: 2%;
}
.navbar a {

display: block;
text-decoration: none;
color: rgb(53, 51, 51);
padding: 0% 2%;
font-family: "Inter", sans-serif;
font-size: 13px;
font-weight: 700;
}
.hamburger{
 display: none;
}
.header {
position: sticky;
top: 0px;
z-index: 10;
left: 0px;
background-color: white;
padding: 0% 0%;
}

/* ------------------------Online Ordering-------------------------------------- */
.order_online_sec1{
    
    padding: 2% 2%;
    background-color: #f7f7f7;;
  }


.order{
    text-align: center;
}
.search
{
    color: rgb(119, 126, 133);
}
 .textbox
 {
     padding: 1% 2%;
     width: 40%;
     
     margin: 1%;
     border-radius: 25px;
     border: none;
   
     box-shadow: 2px 2px solid gray!important ;
 }
.btn{
   background-color: white;
   box-shadow: 0px 4px 7px rgb(226, 223, 223);
   padding: 1%;
   
   color: rgb(73, 70, 70);
   font-size: 14px;
   border: 1px solid rgb(192, 188, 188);
   border-radius: 7px;
   margin: 1% 0.7%;
}
.btn:hover{
    border: 1px solid black;
    cursor: pointer;
}
.order input{
    box-shadow: 0px 3px 6px rgb(177, 175, 175);
}
.letter{
    padding :11% 17%;

    border: none;
    box-shadow:2px 2px 3px rgb(104, 102, 102) ;
    background-color: #00572d;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    font-weight: 500;
   
}
.let_margin
{
   width: 4%;
   margin-top: 1%;
 
}
.footer
{
background-color: #00572d;
height: 50%;
width: 100%;
padding:3% 9%;
color: white;
}
.f1 a
{
text-decoration: none;
color: white;
font-size: 15px;
}
.f2 img{
border-radius: 4px;
}
.f3
{
font-size: 14px;

}
.f3 a
{
text-decoration: none;
color: white;
}
.f3 i{
margin: 2.5%!important;
}
.last_line
{
color: black;
font-size: 15px;
text-align: center;
}
.last_line a
{
text-decoration: none;
color: white;
font-size: 16px;
font-weight: 500;
margin-right: 1%;
}

