@import "../../base.scss";

.video
{
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-size:0.9rem;
    font-weight: 500;
    cursor: pointer;

    &_top
    {
        margin-bottom: 0.5rem;
        position: relative;

        img
        {
            width: 100%;
        }
        span
        {
            position: absolute;
            bottom: 0.3rem;
            right: 0.3rem;
            background-color: black;
            border-radius: 3px;
            padding: 0.1rem 0.2rem;
            z-index: 100;
            font-size: 12px;
        }
    }
    &_title
    {
        margin-bottom:0.1rem ;
        color: #fff;
        @include line-clamp(1)
    }
    &_details
    {
        display: flex;
        align-items: center;
    }

    &_channel{
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        img
        {
            width: 36px;
            border-radius: 50%;
            cursor: pointer;

        }
        padding: {
            margin-bottom: 0;
        };
    }
}