*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto';
}
.row
{
    overflow: hidden;
}
.oneplus_heading{
    font-size: 42px;
    font-weight: 300!important;
   letter-spacing:0px!important;
}
h5,h2{
    font-weight: 400!important;
}
h2{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif ;
}
.h1_changed{
    font-size: 40px!important;
    font-weight:bold!important;
    font-family: 'Open Sans', sans-serif;
}
h5{
    color: grey;
}
.span_learn_more
{
     text-decoration: underline;
    line-height: 1.5;
}
.span_learn_more:hover
{
    color: rgba(58, 58, 248, 0.822);
     
}
.bg_black
{
    background-color: black;
    color: white;
}
.border
{
    border: 2px solid green;
}
@media only screen and (max-width:1025px)
{
 .show_img
 {
     display: none;
 }
 .hidden_img
 {
     display: block!important;
 }
 .navbar
 {
     display: none!important;
 }
 .mob_navbar
 {
     display: block!important;
 }
}
@media only screen and (max-width:735px)
{
    h5
    {
        font-size: 12px!important;
    }
 
.sale_live
{
    width: 100%;
    position:absolute;
   top: 0%;
   left: 0%;
}
.cookie_policy
{
    width: 100%!important;
    position: fixed;
    bottom: 0%;
    background-color:white;
    z-index: 100;
    left: 0%!important;
    
}
.oneplus_store
{
    width: 100%!important;
    height: 10%;
    display: flex;
    position: fixed;
    bottom: 0%;
    left: 0%;
    border: 2px solid red;
    background-color: black;
}
.oneplus_store img
{
    width: 40px;
}
}

@media only screen and (max-width :1180px)
{
    .hide_nav_lap
    {
        display:none;
    }
}

@media only screen and (max-width :1280px)
{
    .hide_footer{
        display : block!important;
    }
    .footer1
    {
        display: none;
    }
    .card_emi_wallet,.contact
    {
        padding:1% ;
        width: 100%;
        text-align: center;
    }
    .card_emi_wallet
    {
    border-bottom: 1px solid rgb(224, 220, 220);
}
}


.hidden_img{display:none}
/* ------------------------Navbar-------------------- */
.mob_menu
{
    display: none;
}
.mob_navbar{
    display: none;
}
#hamburger i
{
    color: grey;
    font-size: 25px;
    border: 1px solid rgb(203, 195, 195);
    border-radius: 3px;
    padding:0.2% 1%;
}
.navbar
{
    background-color: white;
    padding:0% 4%!important;
    /* border: 2px solid red; */
}
.navbar li
{
    padding: 1%;
}
.navbar li:hover
{
    border-bottom: 1px solid red;
}
/* -----------Utility Class For Navbar Menu :Menu-------------------------- */
.menu .card
{
    border: none;
}
.menu img:hover{
    transform: scale(1.05);
}
.menu span:hover{
    color: blue ;
}
/* --------------Toast-------------------------- */
.oneplus_store
{
    width: 32%!important;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    position: fixed;
    top: 60%;
    right: 0%;
}
.cookie_policy
{
  width: 27%;
    background-color:white;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 5%;
    text-align: justify;
    font-size: 12px;
    /* display: none; */
}
.sale_live
{
  width: 100%;
    z-index: 100;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    font-size: 12px;
    /* display: none; */
}

/* ---------------------PHONE MENU--------------------- */

.Phone_menu
{
    display: none;
}
/* ---------------------TV MENU--------------------- */
.tv_menu
{
    display:none;
}
/* ---------------------audio MENU--------------------- */

.audio_menu
{
    display:none;
}
/* ---------------------wearables MENU--------------------- */
.wearables_menu
{
    display: none;
}
/* ---------------------Accessories MENU--------------------- */
.accessories_menu
{
    display: none;
}
/* ---------------------Offers MENU--------------------- */
.offers_menu
{
    display: none;
}
/* ----------------------Search Area---------------------------------- */
.searcharea dt
{
    color: rgb(170, 168, 168);
    font-weight: 400;
    padding:3% 0%;
}

.search_menu
{
  position: absolute;
  top:8%;
  right: 0%;
  z-index: 100;
  background-color: white;
  width: 30%;

  border-top: 1px solid lightgrey;
}
    .searchbar
    {
      position: absolute;
      top: 9%;
      right:88%;
   
    }
    .searcharea
    {
      background-color: white;  
    display: none;
    }
    
.textarea
{
    border: 1px solid lightgrey;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    position: relative;
}
.textarea::placeholder
{
    color: lightgray;
}
/* ------------cart------------------------ */
.cart_menu
{
  /* position: absolute;
  top:8%;
  right: 0%; */
  z-index: 100;
  background-color: white;
  width: 30%;  
float:right!important;
  border-top: 1px solid lightgrey;
  display: none;
}

/* ------------User Accounts------------------------ */
.useracc_menu
{
  position: absolute;
  top:8%;
  right: 0%;
  z-index: 100;
  background-color: white;
  width: 25%;  
  float:right!important;
  border-top: 1px solid lightgrey;
  display: none;
}
.border_bottom
{
    border-bottom: 1px solid lightgrey;
}
.useracc_menu span:hover
{
    color: blue!important;
    border-bottom: 1px solid blue!important;
    cursor: pointer;
}
/* ---------------Animation-------------------------------------- */
.kenburns-top:hover{
	-webkit-animation: kenburns-top 0.2s ease-out both;
	        animation: kenburns-top 0.2s ease-out both;
}

 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.10) translateY(-15px);
            transform: scale(1.10) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.10) translateY(-15px);
            transform: scale(1.10) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
/* -------------------SEC-1----------------------------- */

.buy_now
{
    color: white;
    width: 49%;
    border: 1px solid black;
    padding: 2% 0%;
    background-color: black;
}
.buy_now:hover
{
   background-color: rgb(32, 32, 32);
}
.learn_more
{
   background-color:white;
   width: 49%;
   border: 1px solid black;
   padding: 2% 0%;
}
.learn_more:hover
{
   background-color: rgb(238, 230, 230);
}
.sec-3 li{
    display: inline-flex;
    padding:0% 1%;
    text-decoration: none;
}
.sec-3 li{
    text-decoration: none;
    color: #2c2a2af2;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    
}
.sec-3 li:active
{
    border-bottom:1px solid red;
    color: #000000F2!important;
}

.card{
    width: 100%;
}
.card li{
    font-weight: 400;
}
.card a{
    color: black;
    text-decoration: none;
}
.card a:hover{

    text-align: center;
    background-color: black;
    color: white;
    padding:3% ;
}

.highlights_menu
{
    background-color: white;
}

.align_content
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
/* -------stay connected---------------- */
.stay_conn input
{
    width: 80%;
    border: 1px solid rgb(206, 200, 200);
    height: 50PX;
    padding: 0% 5%;
    border-radius: 2px;
    font-size: 16px;
    color: grey;
    background-color: transparent;
    font-weight: bold;
    border-right: 0;
}
.stay_conn h6{
    color: grey;
    font-size: 12px;
}
.stay_conn h2
{
    letter-spacing: -1px;
}

#submit{
    width: 20%;
    border: 1px solid rgb(206, 200, 200);
    padding:15.5px;
}
#ifwrong,#ifright
{
    display: none;
}

/* -------------Toast--------------------- */
#close_btn,#close_btn2,#close_btn3
{
    background-color:transparent;
    color: #F8F8F8;
    font-size: 20px;
    border: none;
    font-weight: bold;
}
/* -------------Footer----------------- */
.hide_footer
{
    display: none;
}
.hide_footer li
{
   list-style: none;
   padding: 1%;
   font-size: 16px;

}
.accordion-button.collapsed 
{
    font-weight: 600!important;
    font-size: 18px;
}
.footer1 li
{
   list-style: none;
   color: rgb(145, 143, 143);
   font-weight: bold;
   padding: 0;
   line-height: 2.5;
   font-size: 18x;
   font-family:  'Open Sans', sans-serif;
   cursor: pointer;
}
.footer1 li:hover
{
    color: black;
}
.contact_us
{
 cursor: pointer;
 font-size: 20px;
}
.contact i
{
    color: grey;
    cursor: pointer;
    font-size: 20px;
}
.contact i:hover{
    color: black;
    
}
/* -----footer2-------------------- */
.footer3
{
    background-color:#F9F9F9;
    border-top: 1px solid lightgray;
}
.list ul 
{
    list-style: none!important;
    display:flex;
}
.list li{
    padding:0% 1%;
    font-size: 12px;
}
.copyright
{
    color: grey;
    font-size: 12px;

}
