*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.navbar{
  position: relative;
}
.menu
{
  position: absolute;
  top:8%;
  left: 0%;
  z-index: 100;
  background-color: white;
  width: 100%;
}
@media only screen and ( max-width :960px)
{
  .items img{
     width: 50%!important;
  }
  .slick_track
  {
    padding: 1%;
  }
  h5
  {
    font-size: 14px!important;
  }
  p,a,label,.mob_menu div
  {
    font-size: 11px!important;
  }
  .sidebar
  {
    padding:2%!important;
  }

}
@media only screen and ( max-width :410px)
{
 .filter
 {
   display: block!important;
 }
 .sidebar
  {
      display :none;
  }
  .mob_menu a
  {
    font-size: 10px!important;
  }
}
.filter
{
  display: none;
}
.slick-next:before, .slick-prev:before
{
  color: black!important;
}

.slick-prev {
  left: 20px!important;
  top: 30%!important;
  z-index: 200!important;
}
.slick-next{
  right: 15px!important;
  top: 30%!important;
}
#reset
{
  display: none;
}
.items a
{
   text-decoration: none;
   color: black;
   font-size: 15px;
}
.items
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-title
{
  color: black!important;
}
.items:hover
{
    color: black;
    border-bottom: 1px solid red;
    padding: 0;
}

.items a:hover
{
    color: black;
}
.items.active
{
    border-bottom: 1px solid red;
}
/* --------------------Display------------------------------- */
.card
{
    position: relative;
    cursor:pointer;
}
.card .btn{
    
    border-radius: 0px;
    padding:4%;
}
.card a
{ 
    width: 100%;
}
.card p{
    font-size: 15px;
}
/* --------------------Sidebar-> Form------------------------------- */
.sidebar
{
    font-size: 18px;   
}
.form-check-input:hover{ 
    border: 3px solid black;
  }
  .form-check-input:checked{   
    background-color:red!important;
    border:none; 
  }
  .form-check-input
  {
     border-radius: 0px!important;
  }
/* -------Out of Stock----- */
.card1,.card2
{
    position: relative;
}
.card1 img,.card2 img
{
    opacity: 0.2;
}
.outofstock
{
    position: absolute;
    top: 35%;
    left: 35%;
    border: 1px solid grey;
    padding:1% 3%;
    border-radius:3px ;
}
/* -----mob navbar menus----- */
.mob_menu a
{
  text-decoration: none;
  color: black;
  
}

