*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.items a
{
   text-decoration: none;
   color: black;
   font-size: 15px;
}
.items:hover
{
    color: black;
    border-bottom: 1px solid red;
    padding: 0;
}
.items a:hover
{
    color: black;
}
.items.active
{
    border-bottom: 1px solid red;
}
/* --------------------Display------------------------------- */
.card
{
    position: relative;
    cursor:pointer;
}
.card .btn{
    
    border-radius: 0px;
    background-color: black;
    
    padding:4%;
}
.card a
{ 
    width: 100%;
}
.arrow
{
   position: absolute;
   top: 28%;
   font-size: 20px;
   color: black; 
}
.left
{
    left: 5%;
}
.right
{
    right: 5%;
}

.arrow,.show_para
{
    display: none;

}
.card p{
    font-size: 15px;
}
/* --------------------Sidebar-> Form------------------------------- */
.form-check-input:hover{
    
    border: 3px solid black;
  
  }
  .form-check-input:checked{
    
    background-color:red;
    border:none;
  
  }
  .form-check-input
  {
     border-radius: 0px!important;
  }
  .main_label
  {
      font-size: 17px;
  }
  #reset
  {
      width:70%;
      display:none;
  }