*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn
{
    width :100%;
    border: none;
    font-weight: 600;
    background-color: tomato;
    color :white!important;
}
form
{
    background-color: whitesmoke!important;
    border-radius: 25px;
 
}
body
{    
       z-index: -1;
   background-blend-mode:darken ;
}
.Main_nav_container
{
    position: sticky!important;
    top: 0px;
    margin-bottom: 30px;
    left: 0px;
    z-index: 100;
    border-bottom: 2px solid tomato;
    box-shadow: 1px 1px 2px grey;
}
h1{
    color: tomato;
}
input
{
    box-shadow: 1px 1px 1px grey;
}
.btn:hover
{
 
    color:white!important;
    background-color:black!important;
    border: 1px solid black;
    box-shadow: 1px 1px 2px grey;
}
.form{
    border-radius: 10px;
    border-color: tomato!important;
}
ul li
{
    color: tomato!important;
    font-weight: 600;
    font-size: 20px;   
}
ul li a{
    margin: 10px; 
}
ul li a:hover
{
    border-bottom: 3px solid tomato!important;
    
}
.nav-link
{
    padding: 10px!important;
}
